{% extends "prototype-core/layouts/blank.njk" %}

{% block pageTitle %}Clear session data{% endblock %}

{% block content %}
  {% if stage == 'completed' %}
    <h1>Your session data has been cleared</h1>
    {% if returnUrl %}
      <p><a href="{{ returnUrl }}">Go back the previous page</a></p>
    {% else %}
      <p><a href="/">Go back to the prototype</a></p>
    {% endif %}
  {% else %}
    <h1>Clear session data</h1>
    <form action="{{ currentUrl }}" method="post">
      <p>Clearing your session data resets all of the information you've provided. This includes
      any form inputs and any query strings, so that the experience is as if you are a new user coming to the same prototype. 
      This does not affect page content, only input data.</p>
      <button type="submit">Clear your session data</button>
    </form>
  {% endif %}
{% endblock %}
