{% extends "prototype-core/layouts/blank.njk" %}
{% block pageTitle %}This prototype requires a password{% endblock %}

{% block content %}
  <h1>This prototype requires a password</h1>
  <p>If you're not sure what the password is please check with the person who sent you the link.</p>
  {% if error == 'wrong-password' %}
    <p class="error">The password you entered was incorrect.</p>
  {% endif %}
  <form action="{{ currentUrl }}" method="post">
    <p><label for="password">Password</label></p>
    <p><input type="password" name="password" id="password"/></p>
    <p><input type="submit" value="Submit"/></p>
  </form>
{% endblock %}