<!DOCTYPE html>
<html class="nowprototypeit-page no-js {{ htmlClasses }}">
<head>
  <link rel="stylesheet" href="{{ nowPrototypeItAssetsPath }}/css/manage-prototype.css">
  <title>
    This prototype requires a password
  </title>
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/favicon-16x16.png"/>
  <link rel="manifest" href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/site.webmanifest"/>
  <link rel="mask-icon" href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/safari-pinned-tab.svg" color="#5bbad5"/>
  <link rel="shortcut icon" href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/favicon.ico"/>
  <style>
    .nowprototypeit-page .close-p { margin: 0; }
    .nowprototypeit-page .error { color: #ce4338; font-weight: bold; border: 2px solid #ce4338; padding: 0.5rem;}
  </style>
</head>
<body class="{{ bodyClasses }}">
<header class="nowprototypeit-header">
  <h3 class="nowprototypeit-brand-header"><a href="https://nowprototype.it"><img
          src="https://nowprototype.it/assets/design-system/images/logo.png" alt="Now Prototype It"/></a>
    {% if config.subText %}
      <span class="nowprototypeit-brand-sub-text">{{ config.subText }}</span>
    {% endif %}
  </h3>
</header>
<main class="{{ mainClasses }}">
  {% if error == 'wrong-password' %}
    <p class="error">The password you entered was incorrect.</p>
  {% endif %}
  <h1>This prototype requires a password</h1>
  <p>If you're not sure what the password is please check with the person who sent you the link.</p>
  <form action="{{ currentUrl }}" method="post">
    <p class="close-p"><label for="password">Password</label></p>
    <p class="close-p"><input type="password" name="password" id="password"/></p>
    <p class="close-p"><input type="submit" value="Submit"/></p>
  </form>
</main>
</body>
</html>
