<!DOCTYPE html>
<html class="nowprototypeit-page no-js {{ htmlClasses }}">
<head>
  <link rel="stylesheet" href="{{ nowPrototypeItAssetsPath }}/css/manage-prototype.css">
  <title>
    This prototype is not configured correctly
  </title>
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/favicon-16x16.png"/>
  <link rel="manifest" href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/site.webmanifest"/>
  <link rel="mask-icon" href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/safari-pinned-tab.svg" color="#5bbad5"/>
  <link rel="shortcut icon" href="{{ nowPrototypeItDesignSystemAssetsPath }}/icons/favicon.ico"/>
  <style>
    .nowprototypeit-page ul { list-style-type: disc;}
    .nowprototypeit-page li { margin-bottom: 1rem;}
    .nowprototypeit-page .error { color: #ce4338; font-weight: bold; border: 2px solid #ce4338; padding: 0.5rem;}
  </style>
</head>
<body class="{{ bodyClasses }}">
<header class="nowprototypeit-header">
  <h3 class="nowprototypeit-brand-header"><a href="https://nowprototype.it"><img
          src="{{ nowPrototypeItDesignSystemAssetsPath }}/images/logo.png" alt="Now Prototype It"/></a>
    {% if config.subText %}
      <span class="nowprototypeit-brand-sub-text">{{ config.subText }}</span>
    {% endif %}
  </h3>
</header>
<main class="{{ mainClasses }}">
  <p class="error">This prototype is incorrectly configured</p>
  <h1>How to resolve this issue</h1>
  <p>There are a few ways of resolving this issue:</p>
  <ul>
    <li>Add a <em>PASSWORD</em> environment variable with your chosen password. You can usually do this through the admin interface for your chosen hosting platform.</li>
    <li>Use Now Prototype It's dedicated prototype sharing platform, so we can manage this for you. <a href="mailto:support@nowprototype.it">Contact us</a> for more information.</li>
    <li>If your prototype doesn't require a password, you can set the <em>USE_AUTH</em> environment variable to <em>false</em>.</li>
  </ul>
</main>
</body>
</html>
