{% from "components/text-input.njk" import nowPrototypeItTextInput %}
{% from "components/radio-buttons.njk" import nowPrototypeItRadioButtons %}
{% from "components/submit-button.njk" import nowPrototypeItSubmitButton %}
{% from "components/error.njk" import nowPrototypeItError %}
{% extends "layouts/plugins.njk" %}

{% block mainPanel %}


{% set npm %}
    {{ nowPrototypeItTextInput({
        nameAndId: "npmPackage",
        value: playback.npmPackage,
        spellcheck: false,
        label: "Package name",
        hintText: "The package name, as published on NPM (what you'd put after 'npm install')."
    }) }}
    {{ nowPrototypeItTextInput({
        nameAndId: "npmVersion",
        value: playback.npmVersion,
        spellcheck: false,
        isOneThird: true,
        label: "Version number",
        hintText: "Optional: Specify a package version, as published on NPM (e.g. 5.0.1)."
    }) }}
{% endset %}

{% set github %}
    {{ nowPrototypeItTextInput({
        nameAndId: "githubOrg",
        value: playback.githubOrg,
        spellcheck: false,
        label: "Organisation name",
        hintText: "The organisation's name as it appears on GitHub."
    }) }}
    {{ nowPrototypeItTextInput({
        nameAndId: "githubProject",
        value: playback.githubProject,
        spellcheck: false,
        label:"Project name",
        hintText: "The project name as it appears on GitHub."
    }) }}
    {{ nowPrototypeItTextInput({
        nameAndId: "githubBranch",
        value: playback.githubBranch,
        spellcheck: false,
        label: "Branch name",
        hintText: "Optional: The branch name as it appears on GitHub."
    }) }}
{% endset -%}

{% set fs %}
    {{ nowPrototypeItTextInput({
        nameAndId: "fsPath",
        spellcheck: false,
        value: playback.fsPath,
        label: "File system path",
        hintText: "Specify a path to a local directory that contains a plugin. You usually only need this option to test a plugin that you're building."
    }) }}
{% endset -%}

{% if playback.error == 'plugin-lookup-no-results' %}
    {{ nowPrototypeItError({
        titleText: "Package not found",
        errorList: [
            {
                text: "The package you requested couldn't be found."
            }
        ]
    }) }}
{% endif %}
<h2>Look up a specific plugin</h2>
<p>Find a specific plugin package from NPM, GitHub, or your local file system.</p>
<form action="/manage-prototype/plugin" method="post">
    {{ nowPrototypeItRadioButtons({
        nameAndId: "source",
        value: playback.source,
        options: [
            {
                value: "npm",
                text: "NPM",
                conditionalReveal: npm
            },
            {
                value: "github",
                text: "Github",
                conditionalReveal: github
            },
            {
                value: "fs",
                text: "File system",
                conditionalReveal: fs
            }
        ]
    }) }}
    {{ nowPrototypeItSubmitButton({text: "Lookup"}) }}
    <input type="hidden" name="notFoundErrorUrl" value="/manage-prototype/plugins/lookup?error=plugin-lookup-no-results"/>
</form>
{% endblock %}
