<!DOCTYPE html>
<html>
<head>
  <title>{% block pageTitle %}
      Now Prototype It
    {% endblock %}</title>
</head>
<body class="{{ mainClasses }}">
{% block content %}{% endblock %}
</body>
</html>
