{% macro nowPrototypeItPluginCard(config) %}
    <li class="nowprototypeit-manage-prototype-plugin-list__item"
        data-plugin-package-name="{{ config.plugin.packageName }}">
        <a class="plugin-details-link" href="{{ config.plugin.pluginDetailsLink }}">
            <div class="nowprototypeit-manage-prototype-plugin-list-item-heading">
                <h4 class="nowprototypeit-manage-prototype-plugin-list-plugin-name">
                    {{ config.plugin.name }}
                </h4>
                {% if config.plugin.scope %}
                    <div class="nowprototypeit-manage-prototype-plugin-list-plugin-scope">
                        By {{ config.plugin.scope }}
                    </div>
                {% endif %}
            </div>
            <div class="nowprototypeit-manage-prototype-plugin-list-item-description">
                {% if config.plugin.description %}
                    <div class="">
                        {{ config.plugin.description }}
                    </div>
                {% endif %}
            </div>
            {% if config.plugin.isInstalled %}
                <div class="nowprototypeit-manage-prototype-plugin-list-item-installed-details">
                    <p>
                        Version {{ config.plugin.installedVersion }} is
                        installed{% if not config.plugin.updateAvailable %}, you are on the latest version{% endif -%}
                        .
                    </p>
                    {% if config.plugin.updateAvailable %}
                        <p>
                            Update available
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </a>
    </li>
{% endmacro %}