{% from "components/label.njk" import nowPrototypeItLabel %}

{% macro nowPrototypeItTextInput(params) %}
  <div class="nowprototypeit-form-item-wrapper {{ params.classes }}">
    {{ nowPrototypeItLabel({
      for: params.nameAndId,
      text: params.label,
      hintText: params.hintText
    }) }}
    <input class="nowprototypeit-form-text-input {{ params.additionalClasses }}" type="text" value="{{ params.value }}" name="{{ params.nameAndId }}"
           id="{{ params.nameAndId }}"/>
  </div>
{% endmacro %}
