{% if (NowPrototypeIt.isDevelopment or GOVUKPrototypeKit.isDevelopment) %}
<p>
  <a href="/manage-prototype">Manage your prototype</a>
</p>
<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
{% endif %}

