<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No selection made</title>
</head>
<body>
<h1>No selection made</h1>
<p>You've got here from a page where a selection is required but it appears that you haven't made a selection.</p>
</body>
</html>
