{% extends "layouts/manage-prototype.njk" %}

{% block pageTitle %}
  Clear session data – Now Prototype It
{% endblock %}

{% block beforeContent %}
  <a href="javascript: window.history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<form method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Clear session data
      </h1>
      <div class="nowprototypeit-warning">
        This will clear all of the data entered in this session
      </div>

      <button type="submit">Clear the data</button>
    </div>
  </div>
</form>

{% endblock %}
