{% extends "layouts/auto-reload.njk" %}

{% set bodyClasses = 'nowprototypeit-error-page' %}

{% block pageTitle %}
  Error connecting to NPI Cloud
{% endblock %}


{% block content %}

  <h1>
    There was an error while communicating with NPI Cloud
  </h1>

  {% if message.html %}
    <p>{{ message.html | safe }}</p>
  {% endif %}

  <p><a href="/manage-prototype">Back to the Prototype Manager</a></p>

{% endblock %}
