{% extends "layouts/manage-prototype.njk" %}
{% from "components/text-input.njk" import nowPrototypeItTextInput %}
{% from "components/radio-buttons.njk" import nowPrototypeItRadioButtons %}
{% from "components/submit-button.njk" import nowPrototypeItSubmitButton %}
{% macro nowPrototypeItError(params) %}
  <div class="nowprototypeit-error" data-dom-widget="scroll-to-this-element">
    <h4>{{ params.titleText }}</h4>
    {% if params.errorList %}
      <ul>
        {% for error in params.errorList %}
          <li>{% if error.html %}{{ error.html | safe }}{% else %}{{ error.text }}{% endif %}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}


{% set pageName="Hosting" %}

{% block content %}

  <h1>Prototype Hosting from Now Prototype It</h1>

  <p>To start hosting you'll need to log in to your nowprototype.it account.</p>

  {% if loggedOutMessage %}
    <p>{{ loggedOutMessage | safe }}</p>
  {% endif %}
  {% if errorSplash %}
    {{ nowPrototypeItError({
      titleText: errorSplash.title,
      errorList: [
        {
          text: errorSplash.message,
          html: errorSplash.messageHtml
        }
      ]}) }}
    <p>If you need help with this please <a target="_blank" href="/manage-prototype/hosting/redirect-to-logged-in-url/request-hosting-support">request support</a>.</p>
  {% endif %}

  {% if not errorSplash.hideLoginForm %}

    <form action="/manage-prototype/hosting/begin-login" method="post" class="nowprototypeit-login-links">
      {{ nowPrototypeItSubmitButton({
        nameAndId: 'login',
        text: 'Log in',
        value: 'login'
      }) }}
      {{ nowPrototypeItSubmitButton({
        nameAndId: 'create-account',
        text: 'Create an account',
        value: 'create-account'
      }) }}
    </form>

  {% endif %}
{% endblock %}
