{% extends "layouts/manage-prototype.njk" %}
{% from "components/text-input.njk" import nowPrototypeItTextInput %}
{% from "components/radio-buttons.njk" import nowPrototypeItRadioButtons %}
{% from "components/submit-button.njk" import nowPrototypeItSubmitButton %}
{% from "components/error.njk" import nowPrototypeItError %}

{% block content %}

  {% if loginUrl %}

    <h1>A login window should have opened</h1>

    <p>If it hasn't opened you can <a href="{{ loginUrl }}" target="_blank">try opening it again</a>.</p>

    <p>This page will automatically refresh once you're logged in.</p>

  {% else %}

    <h1>You're in the process of logging in</h1>

    <p>Please continue that login process or <a href="/manage-prototype/hosting">start again</a>.</p>

  {% endif %}

  <script>
    {% if shouldAutoOpen and loginUrl %}
    window.open('{{ loginUrl }}', '_blank').focus()
    {% endif %}
    setTimeout(function() {
      window.location.reload()
    }, 1000)
  </script>

{% endblock %}
