{% extends "layouts/manage-prototype.njk" %}
{% from "components/text-input.njk" import nowPrototypeItTextInput %}
{% from "components/radio-buttons.njk" import nowPrototypeItRadioButtons %}
{% from "components/submit-button.njk" import nowPrototypeItSubmitButton %}
{% from "components/error.njk" import nowPrototypeItError %}

{% set pageName="Hosting" %}

{% block content %}

  <h1>Prototype Hosting from Now Prototype It</h1>

  <p>To start hosing you'll need to log in to your nowprototype.it account.</p>

  {% if genericError %}
    {{ nowPrototypeItError({
      titleText: "Something went wrong while trying to log you in",
      errorList: [
        {text: "Something went wrong when trying to log you in, please check your internet connection and try again."}
      ]}) }}
  {% endif %}

  <form action="/manage-prototype/hosting/begin-login" method="post">
    {{ nowPrototypeItSubmitButton({
      text: 'Log in'
    }) }}
  </form>


{% endblock %}
