{% extends "layouts/manage-prototype.njk" %}
{% from "components/text-input.njk" import nowPrototypeItTextInput %}
{% from "components/radio-buttons.njk" import nowPrototypeItRadioButtons %}
{% from "components/submit-button.njk" import nowPrototypeItSubmitButton %}
{% from "components/error.njk" import nowPrototypeItError %}

{% block content %}

  <div class="nowprototypeit-profile-banner">
    <div class="nowprototypeit-user-area-wrapper">
      <div class="nowprototypeit-profile-picture-wrapper"><img src="/manage-prototype/hosting/profile-picture" alt="User profile picture"/></div>
      <div class="nowprototypeit-user-name">{{ name }}</div>
    </div>
    <div class="nowprototypeit-sign-out-wrapper"><form method="post" action="/manage-prototype/hosting/logout">{{ nowPrototypeItSubmitButton({text: 'Sign out'}) }}</form></div>
  </div>

  {% if errorSplash %}
    {{ nowPrototypeItError({
      titleText: errorSplash.title,
      errorList: [
        {text: errorSplash.message}
      ]}) }}
  {% endif %}
  {% if splash == 'success' and url %}
    <p>Your prototype is now hosted at <a href="{{ url }}" target="_blank">{{ url }}</a>.</p>
  {% endif %}

  <form action="{{ uploadPrototypeUrl }}" method="post">
    <h1>Upload your prototype to nowuserresearch.it</h1>

    {{ nowPrototypeItTextInput({
      label: "Name of prototype",
      nameAndId: "prototype-name"
    }) }}

    {{ nowPrototypeItSubmitButton({
      text: "Upload prototype"
    }) }}

  </form>

{% endblock %}
