{% extends "layouts/manage-prototype.njk" %}
{% from "components/text-input.njk" import nowPrototypeItTextInput %}
{% from "components/radio-buttons.njk" import nowPrototypeItRadioButtons %}
{% from "components/submit-button.njk" import nowPrototypeItSubmitButton %}
{% from "components/error.njk" import nowPrototypeItError %}

{% set pageName="Hosting" %}

{% set contentWhenStarted %}

  <h1>You're already logging in</h1>

  <p>You already started logging in in another window. Please complete that login process. You might need to check your email inbox for a confirmation code.</p>
  
  <p>If you haven't recieved a code, or no longer have access to the login window, you may <a href="/manage-prototype/hosting">start again</a>.</p>

{% endset %}

{% block content %}

  {% if loginUrl %}
    <div id="phase-one">
      <h1>Continue login in the popup window</h1>

      <p>Continue your login in the new popup window. If a new window hasn't opened, <strong><a href="{{ loginUrl }}" target="_blank" data-dom-widget="auth-process-open-window" {% if shouldAutoOpen %}data-auto-open="on"{% endif %}>click here to try again</a></strong>.</p>

      <p>This page will automatically refresh once you're logged in.</p>
    </div>
    <div id="phase-two" style="display:none">
      {{ contentWhenStarted | safe }}
    </div>
  {% else %}
    {{ contentWhenStarted | safe }}
  {% endif %}
  <p><a href="/manage-prototype">Back to the Prototype Manager</a></p>
{% endblock %}

{% block pageScripts %}
<script>
  window.NOW_PROTOTYPE_IT.AUTH_FUNCTIONS.checkForUpdates({{ checkForUpdatesUrl | safe }})
</script>
{% endblock %}
