{% extends "layouts/manage-prototype.njk" %}

{% block content %}
  <h1>
    Manage your prototype
  </h1>
  <p>
    Now Prototype It is a low-code, high fidelity prototype kit powered by your design system.
  </p>
  {% if docsUrl %}
    <p>
      <a target="_blank" href="{{ docsUrl }}">To find out more take a look at our documentation</a>.
    </p>
  {% endif %}
  </div>

  {% if messages.length > 0 %}
    <h2>
      Messages from the Now Prototype It Team:
    </h2>
    <ul class="nowprototypeit-manage-prototype-messages nowprototypeit-bullet-list">
      {% for message in messages %}
        <li class="nowprototypeit-manage-prototype-messages__item">
          {{ message.html | safe }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% macro showPage(page) %}
    <li class="nowprototypeit-page-item"><a href="{{ page.url }}" class="nowprototypeit-page-link"
      >{{ page.name }}</a>{% if page.children %}{{ showPages(page.children) }}{% endif %}</li>
  {% endmacro %}
  {% macro showPages(pages) %}
    {% if pages.length > 0 %}
      <ul class="nowprototypeit-bullet-list">
        {% for page in pages %}
          {{ showPage(page) }}
        {% endfor %}
      </ul>
    {% endif %}
  {% endmacro %}
  {% if foundPages | length > 0 %}
    <h2>You have the following pages in your prototype:</h2>
    {{ showPages(foundPages) }}
  {% endif %}

{% endblock %}
