{% extends "layouts/auto-reload.njk" %}

{% block pageTitle %}
  Waiting for your prototype to start – Now Prototype It
{% endblock %}

{% block content %}

  <h1>
    Waiting for your prototype to start
  </h1>

  <p>
    Your prototype is starting, <span class="js-visible">this page will refresh and show your prototype when
      it's ready.</span>
  </p>

{% endblock %}
