{% extends "layouts/auto-reload.njk" %}
{% from "components/submit-button.njk" import nowPrototypeItSubmitButton %}

{% set bodyClasses = 'nowprototypeit-error-page' %}

{% block pageTitle %}
  404 Page not found – Now Prototype It
{% endblock %}

{% block content %}

  <h1>
    Page not found
  </h1>

  <p>This might be because:</p>

  <ul class="nowprototypeit-bullet-list">
    <li>The web address is incorrect</li>
    <li>A link in the prototype is incorrect</li>
    <li>A form in the prototype isn't working</li>
    <li>The page doesn't exist</li>
  </ul>

  {% if createFromTemplateUrl %}
    <p>If the page doesn't exist yet, you can <strong><a href="{{ createFromTemplateUrl }}">create this page using a template</a></strong>.</p>
  {% endif %}
{% endblock %}
