$now-prototype-it-design-system-assets-url: "/assets" !default;
$fonts-url: $now-prototype-it-design-system-assets-url + "/fonts" !default;
$backgroundColour: #FFFFFF !default;
$featureColour: #35529c !default;
$darkFeatureColour: #1b2441 !default;
$errorColor: #ff1f42 !default;
$lightFontColor: #EFEFEF !default;
$fontColor: $darkFeatureColour !default;
$mediumFontColor: #476eaf !default;
$mediumLightFontColor: #BBB !default;
$standardSpace: 2rem !default;
$tinyWidth: 50rem !default;
$midWidth: 70rem !default;
$fullWidth: 90rem !default;