
<h1>Setting up your prototype</h1>

<p>We have received your upload request, we are setting up your prototype now.</p>

<div class="prototype-progress-wrapper">
  {% include "includes/hosting-spinner.njk" %}

  {% if hardcodedMessage %}
    <p>{{ hardcodedMessage }}</p>
  {% else %}
    <p data-dom-widget="prototypeUploadProgressMessage" data-too-long-message-id="hosting-show-if-delay-is-too-long" data-status-id="{{ statusId }}"></p>

    <div id="hosting-show-if-delay-is-too-long">
      <p>If you give up waiting you can <a href="/manage-prototype/hosting">visit the hosting page</a>.</p>
      <p>Your upload will still be working in the background but you won't be able to check on the progress.</p>
    </div>
  {% endif %}
</div>
