
<h1>Setting up your prototype</h1>

<p>NPI Cloud has received your upload request. Setting up your prototype now.</p>

<div class="prototype-progress-wrapper">
  {% include "includes/hosting-spinner.njk" %}

  {% if hardcodedMessage %}
    <p>{{ hardcodedMessage }}</p>
  {% else %}
    <p data-dom-widget="prototypeUploadProgressMessage" data-too-long-message-id="hosting-show-if-delay-is-too-long" data-status-id="{{ statusId }}"></p>

    <div id="hosting-show-if-delay-is-too-long">
      <p>If you leave this page, your prototype will continue uploading, but you won't be able to check on the progress.</p>
      <p><a href="/manage-prototype/hosting">Return to the Sharing page</a>.</p>

    </div>
  {% endif %}
</div>
