{% set mainClasses=mainClasses | default('nowprototypeit-manageable-width') %}

{% extends "now-prototype-it-design-system/layouts/standard.njk" %}

{% block pageTitle %}
  {% if pageName %}
    {{ pageName }} -
  {% elseif currentSection !== "Home" %}
    {{ currentSection }} -
  {% endif %}
  Manage your prototype
  - Now Prototype It
{% endblock %}
