{% extends "layouts/page-with-side-nav.njk" %}

{% block introduction %}
  <div class="grid-row grid-standard-bottom-margin">
    <div class="grid-column-readable-width">
      <h1>Plugins</h1>
      <p>
        View and configure plugins for your prototype. Plugins provide you with new components, styles and other features.
      </p>
      <p>Now Prototype It does not manage or maintain the plugins listed here
        (unless specified). We do not take responsibility for
        the reliability or safety of any plugins that we have not produced.</p>
    </div>
  </div>
{% endblock %}
