{% extends "layouts/page-with-side-nav.njk" %}

{% block introduction %}
  <div class="grid-row grid-standard-bottom-margin">
    <div class="grid-column-readable-width">
      <h1>Plugins</h1>
      <p>
        Plugins provide you with new components, styles and other features.
      </p>
      <p>The plugins listed here are
        not managed by Now Prototype It (unless specified otherwise) so we cannot take responsibility for
        the reliability or safety of these plugins.</p>
    </div>
  </div>
{% endblock %}
