{% extends "layouts/page-with-side-nav.njk" %}

{% block introduction %}

  {% if toast == 'saved-settings' %}
    <div class="grid-row grid-standard-bottom-margin">
      <div class="grid-column-full-width">
        <div class="nowprototypeit-toast">
          <h3>Settings saved</h3>
          <p>Your prototype will now restart. If pages don't load, wait a few seconds and try again.</p>
          {% if changedPort %}
            <p><strong>You have changed the port. This change only takes affect after you restart the prototype kit.</strong></p>
          {% endif %}
        </div>

      </div>
    </div>
  {% endif %}
  <div class="grid-row grid-standard-bottom-margin">
    <div class="grid-column-readable-width">
      <h1>Settings</h1>
      <p>
        These settings control how the prototype kit runs. We recommend that you
        keep the default settings where possible.
      </p>
    </div>
  </div>
{% endblock %}
