
<div class="grid-row grid-standard-bottom-margin">
  <div class="grid-column-readable-width">
    <h1 class="{% if plugin.scope %} plugin-title-with-scope {% endif %}">{{ plugin.name }}</h1>
    {% if plugin.scope %}
      <p class="plugin-scope {% if plugin.version %} plugin-scope--with-version {% endif %}">From {{ plugin.scope }}</p>
    {% endif %}
    {% if plugin.version %}
      <p class="plugin-version">Version {{ plugin.version }}</p>
    {% endif %}
    <form action="{{ currentUrl }}" method="post" class="side-by-side-form-submits">
      {% if installLink %}
        {{ nowPrototypeItSubmitButton({
          nameAndId: 'action-install',
          text: installLinkText | default('Install'),
          classes: '',
          href: installLink
        }) }}
      {% endif %}
      {% if updateLink %}
        {{ nowPrototypeItSubmitButton({
          nameAndId: 'action-update',
          text: 'Install the latest version',
          classes: 'nowprototypeit-plugin-update-button',
          href: updateLink
        }) }}
      {% endif %}
      {% if uninstallLink %}
        {{ nowPrototypeItSubmitButton({
          nameAndId: 'action-uninstall',
          text: 'Uninstall',
          classes: 'nowprototypeit-plugin-uninstall-button',
          href: uninstallLink
        }) }}
      {% endif %}
    </form>

  </div>
</div>
