{% extends "../layouts/settings.njk" %}
{% from "components/text-input.njk" import nowPrototypeItTextInput %}
{% from "components/radio-buttons.njk" import nowPrototypeItRadioButtons %}
{% from "components/submit-button.njk" import nowPrototypeItSubmitButton %}

{% block mainPanel %}
  {% if fields.length %}
    <form action="{{ currentUrl }}" method="post">
      {% for field in fields %}
        {% if field.stage %}
          <h3>Experiment stage: {{ field.stage }}</h3>
          <p>
            {% if field.stage == 1 %}
              At this stage features may be added and removed, integrations with plugins may change.  It's not recommended that you use this stage in your prototypes, it's intended for early testing.
            {% else %}
              (no description found for stage {{ field.stage }})
            {% endif %}
          </p>
        {% endif %}
        {% if field.type == 'text' or field.type == 'int' %}
          {{ nowPrototypeItTextInput({
            label: field.name,
            hintText: field.description,
            nameAndId: field.key,
            value: field.value,
            additionalClasses: 'nowprototypeit-form-text-input-small' if field.type == 'int',
            labelClasses: 'nowprototypeit-no-top-margin' if loop.index == 1
          }) }}
        {% elseif field.type == 'bool' %}
          {{ nowPrototypeItRadioButtons({
            label: field.name,
            hintText: field.description,
            nameAndId: field.key,
            value: field.value,
            options: [
              {
                value: "true",
                text: "On"
              },
              {
                value: "false",
                text: "Off"
              },
              {
                value: "__default__",
                text: "I don't have a preference"
              }
            ]
          }) }}
        {% else %}
          <p>Unknown [{{ field.type }}]: {{ field.name }}</p>
        {% endif %}
      {% endfor %}
      {{ nowPrototypeItSubmitButton({
        text: "Save changes"
      }) }}


    </form>
  {% elseif errorHeading and errorText %}
    <h3>{{ errorHeading }}</h3>
    <p>{{ errorText }}</p>
  {% else %}
    <h3>There are no settings to display.</h3>
  {% endif %}
{% endblock %}
