name: Tests

on:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: linux
    steps:
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npm run lint

  release-dry-run:
    name: Release Dry Run
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: npm ci

      - run: |
          git config --global user.email support@nowprototype.it
          git config --global user.name "Now Prototype It (automated)"

      - run: ./scripts/release --release-candidate --branch=${{ github.head_ref }} --skip-tests --dry-run --skip-changelog-check --use-https-for-git

  unit-test:
    name: Unit (${{ matrix.os }})
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows, linux, macos]
    timeout-minutes: 5
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: npm ci

      - run: npm run test:unit && npm run test:unit

  smoke-test:
    name: (${{ matrix.os }}) v${{ matrix.node-version }} Smoke Tests
    needs:
      - unit-test
      - release-dry-run
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]
        os: [linux, windows, mac]

    timeout-minutes: 40
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci


      - run: npx playwright install

      - run: npm run test:browser:smoke -- --retry=2
        env:
          ADDITIONAL_TIMEOUT_MULTIPLIER: 2
          NPI_TEST__LOG_RETRYABLE_ERRORS: true
          TAKE_SCREENSHOT_AFTER_FAILURE: true
          SCREENSHOT_DIR: screenshots
          MAX_FAILURES: 1
          REUSE_KITS: ${{ (matrix.os == 'windows' && matrix.node-version == '18.x') && 'false' || 'true' }}

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: ignore
          name: smoke-${{ matrix.os }}-${{ matrix.node-version }}-${{ github.run_id }}
          path: ./screenshots

  acceptance-test:
    name: (${{ matrix.os }}) v${{ matrix.node-version }} Acceptance Tests
    needs: smoke-test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [24.x]
        os: [linux, windows, mac]

    timeout-minutes: 40
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      - run: npm run test:browser:acceptance -- --retry=2
        env:
          ADDITIONAL_TIMEOUT_MULTIPLIER: 2
          NPI_TEST__LOG_RETRYABLE_ERRORS: true
          TAKE_SCREENSHOT_AFTER_FAILURE: true
          SCREENSHOT_DIR: screenshots
          MAX_FAILURES: 1

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: ignore
          name: acceptance-${{ matrix.os }}-${{ matrix.node-version }}-${{ github.run_id }}
          path: ./screenshots

  integration-test:
    name: (${{ matrix.os }}) v${{ matrix.node-version }} Integration Tests
    needs: acceptance-test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [24.x]
        os: [linux, windows, mac]

    timeout-minutes: 40
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      - run: npm run test:browser:integration -- --retry=2
        env:
          ADDITIONAL_TIMEOUT_MULTIPLIER: 2
          NPI_TEST__LOG_RETRYABLE_ERRORS: true
          TAKE_SCREENSHOT_AFTER_FAILURE: true
          SCREENSHOT_DIR: screenshots
          MAX_FAILURES: 1

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: ignore
          name: integration-${{ matrix.os }}-${{ matrix.node-version }}-${{ github.run_id }}
          path: ./screenshots

  performance:
    name: Performance
    runs-on: linux
    needs: integration-test
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: 20

      - run: npm install

      - run: npm run

      - run: npm run test:perf
